{% extends '@App/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/app/account-setting.css') }}" />
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">

            <div class="col-md-3 hidden-xs hidden-sm">
                {% if app.user.imageUrl is not empty %}
                <div class="row">
                    <img src="{{ app.user.imageUrl }}" class="col-md-12 img-rounded profile_pic" />
                </div>
                {% endif %}
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation"
                        class="{% if app.request.get('_route') == 'update_user' %}active{% endif %}"><a
                                href="{{ path('update_user') }}">Information</a></li>
                    <li role="presentation"
                        class="{% if app.request.get('_route') == 'change_password' %}active{% endif %}"><a
                                href="{{ path('change_password') }}">Change Password</a></li>
                </ul>
            </div>


            <div class="form-group visible-xs visible-sm col-xs-12">
                <label for="mobile_account_setting_nav">Navigation</label>
                <select id="mobile_account_setting_nav" class="form-control selectpicker">
                    <option {% if app.request.get('_route') == 'update_user' %}selected="selected"{% endif %}  value="{{ path('update_user') }}">Information</option>
                    <option {% if app.request.get('_route') == 'change_password' %}selected="selected"{% endif %} value="{{ path('change_password') }}">Change Password</option>
                </select>
            </div>


            <div class="col-md-9">

                {% for flashMessage in app.session.flashbag.get('success') %}

                    <div class="alert alert-success alert-dismissible" role="alert" id="success-flash-message">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        {{ flashMessage }}
                    </div>

                {% endfor %}

                {% block form_section %}

                {% endblock %}
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/js/bootstrap-select.min.js"></script>
    <script>
        $("#mobile_account_setting_nav").on("change", function () {
            window.location.href = $(this).val();
        });
    </script>
{% endblock %}