{% extends '@App/documentation/document-layout.html.twig' %}

{% block title %}Documentation{% endblock %}


{% block content %}

    <div class="container">
        <h1>Documentation</h1>

        <ol>
            <li><a href="{{ path('doc_setup') }}">Setup</a></li>
            <li><a href="{{ path('doc_security') }}">Security Yml</a></li>
            <li><a href="{{ path('doc_social_auth_website') }}">Facebook Google Auth For Website</a></li>
            <li><a href="{{ path('doc_social_auth_high_level') }}">Facebook / Google Auth High Level</a></li>
            <li><a href="{{ path('doc_login_registration_website') }}">Registration / Login Website</a></li>
            <li><a href="{{ path('doc_token_guard_workflow') }}">Token Guard Workflow</a></li>
            <li><a href="{{ path('doc_api_login_guard') }}">Api Login Guard</a></li>
            <li><a href="{{ path('doc_refresh_tokens') }}">Refresh Tokens</a></li>
            <li><a href="{{ path('doc_token_provider') }}">Token Provider</a></li>
            <li><a href="{{ path('doc_jwt_token') }}">JWS / JWT Token</a></li>
            <li><a href="{{ path('doc_credential_response') }}">Credentialed Response</a></li>
            <li><a href="{{ path('doc_user_voter') }}">User Voter</a></li>
            <li><a href="{{ path('doc_custom_file_upload_twig') }}">Custom File Upload Twig</a></li>
            <li><a href="{{ path('doc_s3_file_uploads') }}">File Upload with s3</a></li>
            <li><a href="{{ path('doc_emails') }}">Emails</a></li>
            <li><a href="{{ path('doc_forget_password_workflow') }}">Forget Password Workflow</a></li>
            <li><a href="{{ path('doc_account_setting_mobile_nav') }}">Account Setting Mobile Navigation</a></li>
            <li><a href="{{ path('doc_change_password') }}">Change Password</a></li>
            <li><a href="{{ path('doc_update_profile') }}">Update User Profile</a></li>
            <li><a href="{{ path('doc_admin_user_management') }}">Admin User Management</a></li>
            <li><a href="{{ path('doc_fos_form_handler') }}">FOS Form Error Handler</a></li>
            <li><a href="{{ path('doc_exception_handling') }}">Exception Handling for api / desktop</a></li>
            <li><a href="{{ path('doc_api_bundles') }}">Api Bundles Used</a></li>
            <li><a href="{{ path('doc_response_serializer') }}">Response Serializer</a></li>
            <li><a href="{{ path('doc_testing') }}">Testing</a></li>
        </ol>

    </div>

{% endblock %}

{% block helpfulLinks %}


        <ul>
            <li><a href="https://symfony.com/doc/current/index.html">Symfony</a></li>
            <li><a href="http://symfony.com/doc/master/bundles/FOSRestBundle/index.html">FOS Rest Bundle</a></li>
            <li><a href="http://jmsyst.com/bundles/JMSSerializerBundle">JMS Serializer</a></li>
            <li><a href="https://github.com/nelmio/NelmioApiDocBundle">Nelmio Api Doc Bundle</a></li>
        </ul>

{% endblock %}