{% extends '@App/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/app/main-panel.css') }}" rel="stylesheet" media="all">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="panel panel-default col-md-offset-3 col-md-6 main-panel"  >
            <div class="panel-heading">Forget Password?</div>
            <div class="panel-body">
                {{ form_start(forgetPasswordForm, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_row(forgetPasswordForm.email) }}

                <div class="form-group submit-btn-container">
                    <button type="submit" class="btn btn-success pull-right">Forget Password</button>
                </div>

                {{ form_end(forgetPasswordForm) }}

            </div>
        </div>

    </div>
{% endblock %}