{% extends '@App/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/app/main-panel.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('assets/css/app/social-btn.css') }}" rel="stylesheet" media="all">
{% endblock %}

{% block javascript_before_head %}
    {{ parent() }}
    <script src="https://apis.google.com/js/api:client.js"></script>

    {% include('@App/user/social/facebook-auth-js.html.twig') %}
    {% include('@App/user/social/google-auth-js.html.twig') %}

{% endblock %}

{% block body %}

    <div class="container">
        <div class="panel panel-default col-md-offset-3 col-md-6 main-panel" >
            <div class="panel-heading">Register</div>
            <div class="panel-body">
                {{ form_start(registerForm, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_row(registerForm.email) }}

                    {{ form_row(registerForm.plain_password, {
                        'label': 'Password'
                    }) }}

                <input type="hidden" name="redirect_url" value="{{ app.request.headers.get('referer')|default('/') }}" />
                <div class="form-group submit-btn-container" >
                    <button type="submit" class="btn btn-success pull-right">Register</button>
                </div>
                {{ form_end(registerForm) }}
            </div>
        </div>
        {% include('@App/user/social-login.html.twig') %}

    </div>

{% endblock %}


{% block javascripts %}
     {{ parent() }}
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.js" integrity="sha256-oQaw+JJuUcJQ9QVYMcFnPxICDT+hv8+kuxT2FNzTGhc=" crossorigin="anonymous"></script>
    {% include('@App/user/social/token-auth-js.html.twig') %}
{% endblock %}